@tailwind base;
@tailwind components;
@tailwind utilities;

#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.8;
  overflow-x: hidden;
  transition: width 0.5s; /* Adjust the transition duration as needed */
  padding-top: 60px;
}

.sidebar.open {
  width: 250px;
}

.sidebar a, h2 {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

.sidebar label {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  transition: color 0.3s;
}

.sidebar label:hover {
  color: #f1f1f1;
}

input[type="checkbox"] {
  display: inline-block;
  margin-right: 10px; 
  vertical-align: middle; 
}

.sidebar input[type="checkbox"] {
  display: inline-block;
  margin-right: 10px; 
  vertical-align: middle; 
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  width: 20px; 
  height: 20px; 
  border: 2px solid #818181;
  border-radius: 3px; 
  transition: border-color 0.3s; 
}

/* Change checkbox appearance when checked */
.sidebar input[type="checkbox"]:checked {
  border-color: #f1f1f1; /* Change border color */
  background-color: #f1f1f1; /* Change background color */
}  

/* Hide default checkbox appearance */
.sidebar input[type="checkbox"]::before {
  content: ""; 
  display: block;
  width: 100%;
  height: 100%;
}

/* Style the checkbox label when checkbox is checked */
.sidebar input[type="checkbox"]:checked + label {
  color: #f1f1f1; 
}

#LightDark {
  position: fixed;
  top: 10px; /* Adjust as needed for top spacing */
  right: 10px; /* Adjust as needed for right spacing */
  z-index: 1000; /* Ensure it's above other content */
  background-color: rgba(17, 17, 17, 0.8); /* Semi-transparent dark background */
  padding: 5px 20px; /* Minimal padding around the content */
  border-radius: 5px; /* Optional: Adds rounded corners */
  display: flex; /* Aligns the radio buttons and labels in a row */
  align-items: center; /* Center-aligns items vertically */
  color: #fff;
}

#LightDark input[type="radio"],
#LightDark label {
  cursor: pointer;
  margin: 0 5px; /* Reduced margin for a compact layout */
  font-size: 12px; /* Smaller text for a more subtle toggle */
}

#LightDark label {
  color: #fff; /* Ensures labels are light and visible against the dark background */
}

/* Optional: Hide the radio button's default appearance */
#LightDark input[type="radio"] {
  opacity: 0; /* Hide the radio button itself */
  position: absolute; /* Take it out of the document flow */
  width: 0; /* Eliminate the space it takes up */
}

#LightDark input[type="radio"]:checked + label {
  font-weight: bold; /* Highlight the selected mode */
}